body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #f7f9fc;
}
button {
  font-family: inherit;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  background: #003569;
  color: #fff;
  padding: 6px 18px;
  margin-top: 6px;
  cursor: pointer;
}
button:disabled {
  opacity: 0.7;
}
textarea, select {
  font-family: inherit;
}
